{% extends 'base.html' %}
{% block title %}История{% endblock %}
{% block content %}
    <h1>История выполненных задач</h1>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Дата создания</th>
                <th>Дедлайн</th>
                <th>Категория</th>
                <th>Важность</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody class="color-body-status">
        {% for task in tasks %}
            <tr>
                <td><p><a href="{% url 'tasks:task' task.id %}" class="name-link">{{ task.name }}</a></p></td>
                <td><p>{{ task.description }}</p></td>
                <td><p>{{ task.created_at }}</p></td>
                <td><p>{{ task.deadline }}</p></td>
                <td><p>{{ task.category.name }}</p></td>
                <td><p>{{ task.category.priority }}</p></td>
                <td><p>{{ task.status }}</p></td>
            </tr>
        {% endfor %}
        <a href="{% url 'tasks:index' %}" class="btn-history">Назад</a>
        </tbody>
    </table>
{% endblock %}