<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Список дел{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
  <header>
    <a href="{% url 'user:logout' %}" class="nav-link">Выйти из профиля</a>
  </header>
  <main>
    <h1>10 последних созданных задач</h1>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Дата создания</th>
                <th>Дедлайн</th>
                <th>Категория</th>
                <th>Важность</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><p>{{ task.name }} </p></td>
                <td><p>{{ task.description }} </p></td>
                <td><p>{{ task.created_at }} </p></td>
                <td><p>{{ task.deadline }} </p></td>
                <td><p>{{ task.category.name }} </p></td>
                <td><p>{{ task.category.priority }} </p></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </main>
</body>
</html>